{{- if .Values.enabled -}}
{{- $fullName := include "nginx.fullname" . -}}
{{- $chartName := include "nginx.name" . -}}
{{- $cloudProviderDockerRegistryUrl := include "nginx.cloudProviderDockerRegistryUrl" . -}}
{{- $cloudProviderImagePullSecretName := include "nginx.cloudProviderImagePullSecretName" . -}}
{{- $prometheusExporterPort := include "prometheusExporter.targetPort" . -}}
{{- $listOfSubPaths := include "listOfSubPaths" . | fromJsonArray -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-deployment" (include "nginx.fullname" .) }}
  labels:
    app: {{ $fullName | quote }}
    component: nginx-deployment
    environment: {{ include "nginx.environment" . }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ $fullName | quote }}
      release: {{ .Release.Name }}
      run: {{ .Release.Name }}-nginx
  template:
    metadata:
      labels:
        app: {{ $fullName | quote }}
        release: {{ .Release.Name }}
        run: {{ .Release.Name }}-nginx
      annotations:
        {{- if .Values.prometheusExporter.enabled }}
        prometheus.io/scrape: 'true'
        prometheus.io/port: {{ $prometheusExporterPort | quote }}
        {{- end}}
        {{- if .Values.additionalPodAnnotations }}
        {{- toYaml .Values.additionalPodAnnotations | nindent 8 }}
        {{- end }}
    spec:
    {{- if $cloudProviderImagePullSecretName }}
      imagePullSecrets:
        - name: {{ $cloudProviderImagePullSecretName | quote }}
    {{- end }}
      volumes:
        - name: nginx-base-config
          configMap:	
            name: {{ printf "%s-base-configmap" (include "nginx.fullname" .) }}
          {{- if .Values.extraVolumes }}
            {{ tpl (toYaml .Values.extraVolumes) . | nindent 8 }}
          {{- end }}
      containers:
        - name: nginx-container
          {{- with .Values.image }}
          image: {{ $cloudProviderDockerRegistryUrl }}{{ .repository }}:{{ .tag }}
          {{- end }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          env:
          - name: OTEL_SERVICE_NAME
            value: {{ .Values.env.opentelemetry.serviceName | quote}}
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: {{ .Values.env.opentelemetry.exporterEndpoint | quote}}
          - name: OTEL_TRACES_SAMPELR
            value: {{ .Values.env.opentelemetry.samplerMethod | quote }}
          - name: OTEL_TRACES_SAMPLER_RATIO
            value: {{ .Values.env.opentelemetry.ratio | quote }}
          - name: OTEL_TRACES_SAMPLER_PARENT_BASED
            value: {{ .Values.env.opentelemetry.parentBased | quote }}
          volumeMounts:
            {{ if not (has "default.conf" $listOfSubPaths ) }}
            - name: nginx-base-config
              mountPath: "/etc/nginx/conf.d/default.conf"
              subPath: default.conf
            {{- end -}}
            {{ if not (has "nginx.conf" $listOfSubPaths )}}
            - name: nginx-base-config
              mountPath: "/etc/nginx/nginx.conf"
              subPath: nginx.conf
            {{- end -}}
            {{ if not (has "log_format.conf" $listOfSubPaths )}}
            - name: nginx-base-config
              mountPath: "/etc/nginx/log_format.conf"
              subPath: log_format.conf
            {{- end -}}
              {{- if .Values.extraVolumeMounts }}
                {{ toYaml .Values.extraVolumeMounts | nindent 12 }}
              {{- end }} 
          ports:
            - name: http
              containerPort: {{ .Values.targetPort }}
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: {{ .Values.initialDelaySeconds }}
            httpGet:
              path: /nginx_status
              port: {{ .Values.siteStatusPort }}
          {{- if .Values.resources.enabled }}
          resources:
            {{- toYaml .Values.resources.value | nindent 12 }}
          {{- end }}
          {{- if .Values.prometheusExporter.enabled }}
        - name: nginx-prometheus-exporter
          {{- with .Values.prometheusExporter.image }}
          image: {{ $cloudProviderDockerRegistryUrl }}{{ .repository }}:{{ .tag }}
          {{- end }}
          args: ["-nginx.scrape-uri=http://localhost:8081/nginx_status"]
          imagePullPolicy: {{ .Values.prometheusExporter.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ $prometheusExporterPort }}
              protocol: TCP
          # Note: if the Prometheus Exporter container isn't live the entire Pod
          # (including the NGINX container) will restart
          livenessProbe:
            initialDelaySeconds: {{ .Values.initialDelaySeconds }}
            httpGet:
              path: /
              port: {{ $prometheusExporterPort }}
          {{- if .Values.prometheusExporter.resources.enabled }}
          resources:
            {{- toYaml .Values.prometheusExporter.resources.value | nindent 12 }}
          {{- end }}
          {{- end }}
        {{- if .Values.sidecars }}
        {{ tpl (.Values.sidecars) . | nindent 8 }}
        {{- end }}
{{- end }}
